logging:
  level:
    org.springframework.ai.chat.client.advisor: debug
    io.modelcontextprotocol.spec: debug

# 解决流响应乱码
server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true